!.gitignore
*.asc
*.cache
*.db
*.el
*.eld
*.elc
*.gpg
*.html
*.o
*.org_archive
*.out
*.plstore
*.pyc
*.stats
*\#*
*~
.DS_Store
.artifacts/*
.cache/*
.cask
.directory
.direnv
.envrc
.fuse_hidden*
.history
.history/*
.org-id-locations
.rapport.d
.svn
.vscode/*
/.fuse_hidden*
GPATH
GRTAGS
GTAGS
TAGS
auto-save-list/*
eln-cache/*
elpa
history
server/*
straight/*
tmp/*
url/*
var/*
~$*
